section.newsletter
  .container
    .row
      .col-lg-6.col-md-6.col-sm-12
        .newsletter__text.newsletter-text
          h2.newsletter-text__heading you think we're cool? let's work together
          a(href="#").newsletter-text__special get in touch
      .col-lg-6.col-md-6.col-sm-12
        form.newsletter__form.newsletter-form
          h2.newsletter-form__heading stay inform with our newsletter
          p.newsletter-form__text Lorem ipsum dolor sit amet, consectetur
            | adipisicing elit, sed do eiusmod tempor incididunt ut labore
            | et dolore magna aliqua.
          input(type="email" placeholder="your email").newsletter-form__field
          button.newsletter-form__submit send
footer.page-footer
  .container
    .row
      .col-lg-7.col-md-6.page-footer__menu.bottom-menu
        a(href="#").bottom-menu__item home
        a(href="#").bottom-menu__item about us
        a(href="#").bottom-menu__item services
        a(href="#").bottom-menu__item portfolio
        a(href="#").bottom-menu__item blog
        a(href="#").bottom-menu__item contact us
      .col-lg-4.col-md-5.col-md-offset-1.col-lg-offset-1.page-footer__copyrights.copyrights
        .copyrights__text Created by akhouad 2016. All Rights Reserved
        .copyrights__links
          a(href="#").fb
          a(href="#").tw
          a(href="#").yt
          a(href="#").in
          a(href="#").pin
          a(href="#").inst
