header.page-header
  .container
    a(href="#").page-header__logo akad.
    .page-header__menu.top-menu
      a(href="#").top-menu__item home
      a(href="#").top-menu__item about us
      a(href="#").top-menu__item services
      a(href="#").top-menu__item portfolio
      a(href="#").top-menu__item blog
      a(href="#").top-menu__item contact us
