doctype html
html(lang='en')

  //- INCLUDE HEAD
  include pug/head.pug

  body
    .page-wrapper

      //- INCLUDE HEADER
      include pug/header.pug

      section.intro
        .intro__inner
          div: p.intro__small-text we're
          div: p.intro__heading creative agency
          div: p.intro__description Lorem ipsum dolor sit amet, consectetur adipisicing
            | elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
      section.history
        .container
          .row
            .col-lg-5.col-md-5.col-sm-12.history__image
            .col-lg-6.col-md-6.col-sm-12.col-md-offset-1.col-lg-offset-1.history__text.agency-history
              h2.agency-history__title history of agency
              p.agency-history__description Porro quisquam est, qui dolorem ipsum
                | quia dolor sit amet, consectetur, adipisci velit, sed quia non
                | numquam eius modi tempora incidunt ut labore et dolore magnam
                | aliquam quaerat voluptatem. Ut enim ad minima veniam, quis
                | nostrum exercitationem ullam corporis suscipit laboriosam, nisi
                | ut aliquid ex ea commodi modi tempora incidunt ut labore.
              a(href="#").agency-history__special read more
      section.services
        .container
          div: h2.services__title why choose us
          div: p.services__subheading-text Lorem ipsum dolor sit amet, consectetur
            | adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            | dolore magna aliqua.
          .row.services__items.services-items
            .col-lg-6.col-md-12
              .row
                .col-lg-5.col-md-6.services-items__item.item
                  i.item__icon-1
                  h4.item__heading unlimited options
                  p.item__option branding
                  p.item__option design and copywriting
                  p.item__option concept development
                  p.item__option user experience
                .col-lg-6.col-md-6.col-lg-offset-1.services-items__item.item
                  i.item__icon-2
                  h4.item__heading design & development
                  p.item__option information architecture
                  p.item__option interface design
                  p.item__option product design
                  p.item__option integrated at companies
              .row
                .col-lg-5.col-md-6.services-items__item.item
                  i.item__icon-3
                  h4.item__heading e-commerce
                  p.item__option prototyping
                  p.item__option technical consulting
                  p.item__option web applications
                  p.item__option quality testing
                .col-lg-6.col-md-6.col-lg-offset-1.services-items__item.item
                  i.item__icon-4
                  h4.item__heading customizable design
                  p.item__option information architecture
                  p.item__option interface design
                  p.item__option product design
                  p.item__option integrated at companies
            .col-lg-5.col-md-6.col-md-offset-3.col-lg-offset-1.services__image
      section.portfolio
        .container
          div: h2.portfolio__title our portfolio
          p.portfolio__subheading-text Lorem ipsum dolor sit amet, consectetur
            | adipisicing elit, sed do eiusmod tempor incididunt ut labore et
            | dolore magna aliqua.
          .row
            .col-lg-3.col-md-12.portfolio__categories.categories
              h4.categories__title choose category
              ul.categories__filter
                li: a(href="#").all.active all
                li: a(href="#").webdesign webdesign
                li: a(href="#").graphic-design graphic design
                li: a(href="#").fashion fashion
                li: a(href="#").logo-design logo design
                li: a(href="#").advertising advertising
            .col-lg-9.col-md-12.portfolio__items.portfolio-items
              .row
                .col-lg-4.col-md-4
                  a(href="#").portfolio-items__item_item-1
                    img(src="img/portfolio-1.png" alt="portfolio")
                    .content-wrapper
                      p creative
                      p webdesign
                  a(href="#").portfolio-items__item_item-2
                    img(src="img/portfolio-2.png" alt="portfolio")
                    .content-wrapper
                      p creative
                      p webdesign
                  a(href="#").portfolio-items__item_item-3
                    img(src="img/portfolio-3.png" alt="portfolio")
                    .content-wrapper
                      p creative
                      p webdesign
                .col-lg-4.col-md-4
                  a(href="#").portfolio-items__item_item-4
                    img(src="img/portfolio-4.png" alt="portfolio")
                    .content-wrapper
                      p creative
                      p webdesign
                  a(href="#").portfolio-items__item_item-5
                    img(src="img/portfolio-5.png" alt="portfolio")
                    .content-wrapper
                      p creative
                      p webdesign
                  a(href="#").portfolio-items__item_item-6
                    img(src="img/portfolio-6.png" alt="portfolio")
                    .content-wrapper
                      p creative
                      p webdesign
                .col-lg-4.col-md-4
                  a(href="#").portfolio-items__item_item-7
                    img(src="img/portfolio-7.png" alt="portfolio")
                    .content-wrapper
                      p creative
                      p webdesign
                  a(href="#").portfolio-items__item_item-8
                    img(src="img/portfolio-8.png" alt="portfolio")
                    .content-wrapper
                      p creative
                      p webdesign
                  a(href="#").portfolio-items__item_item-9
                    img(src="img/portfolio-9.png" alt="portfolio")
                    .content-wrapper
                      p creative
                      p webdesign
      //- INCLUDE FOOTER
      include pug/footer.pug
